<nav class="navbar fixed-top navbar-expand-lg navbar-light navegacion">
  <a class="navbar-brand" href="#" routerLink=""><p-image src="assets/img/logo.png" alt="Image" width="250"></p-image></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="tienda" style="color: #ffff;">Tienda</a>
      </li>
      <ng-template [ngIf] = "isLogged">

        <ng-template [ngIf] = "isAdmin">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="color: #ffff;">
              Administrador
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" routerLink="admin/productos-categorias">Productos y categorias</a>
              <a class="dropdown-item" href="#" routerLink="admin/proveedores-repartidores">Proveedores y Repartidores</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Promociones</a>
              <a class="dropdown-item" href="#">Reportes</a>
            </div>
          </li>
        </ng-template>

        <ng-template [ngIf] = "isAdmin || isDelivery">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="color: #ffff;">
              Repartidor
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Ordenes de entrega</a>
            </div>
          </li>
        </ng-template>
      </ng-template>
      
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="nosotros" style="color: #ffff;">Conócenos</a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" href="#" routerLink="contacto" style="color: #ffff;">Contáctanos</a>
      </li>
      <li class="nav-item">
          
      </li>
    </ul>
    <div class="p-fluid grid" >
      <form class="form-inline">
        <ng-template [ngIf] = "isLogged">
          <div class="field col-7 md:col-7 mt-3">
            <p style="color: #ffff;">{{usuarioLogeado}}</p>
          </div>
          <div class="field col-2 md:col-2">
            <button pButton pRipple type="button" icon="pi pi-power-off" class="p-button-rounded p-button-danger" (click)="logOut()"></button>
          </div>
        </ng-template>
        <div class="field col-3 md:col-3">
          <button pButton pRipple type="button" icon="pi pi-shopping-cart" class="p-button-rounded p-button-warning" (click)="displayStore = true"></button>
        </div>
        <ng-template [ngIf] = "!isLogged">
          <div class="field col-3 md:col-3">
            <button pButton pRipple type="button" icon="pi pi-key" class="p-button-rounded p-button-warning" (click)="displayLogin = true"></button>
          </div>
          <div class="field col-3 md:col-3">
            <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-warning" (click)="displayRegister = true"></button>
          </div>
        </ng-template>        
      </form>
    </div>
    
  </div>
</nav>
<p-sidebar [(visible)]="displayLogin" position="right">
    <div class="p-fluid grid">
      <div class="field col-12 md:col-12">
        <h5>Ingresa tus credenciales</h5>
      </div>
      <div class="field col-12 md:col-12 mt-4">
        <span class="p-float-label">
            <input type="email" id="correotext" [(ngModel)] = "usernameText" pInputText> 
            <label for="correotext">correo@ejemplo.com</label>
        </span>
      </div>
      <div class="field col-12 md:col-12 mt-4">
        <span class="p-float-label">
            <input type="password" id="passwordtext" [(ngModel)] = "passwordText" pInputText> 
            <label for="passwordtext">Contraseña</label>
        </span>
      </div>
      <div class="field col-12 md:col-12 mt-4">
        <button class="mr-sm-2 p-button-warning" pButton type="button" icon="pi pi-key" iconPos="left" label="Acceder" (click)="onLogin()"></button>
      </div>
    </div>
</p-sidebar>

<p-sidebar [(visible)]="displayRegister" position="right">
  <div class="p-fluid grid">
    <div class="field col-12 md:col-12">
      <h5>Ingresa tus datos personales</h5>
    </div>
    <div class="field col-12 md:col-12 mt-4">
      <span class="p-float-label">
          <input type="text" id="nombrestext" pInputText [(ngModel)] = "txtNombre"> 
          <label for="nombretext">Nombre</label>
      </span>
    </div>
    <div class="field col-12 md:col-12 mt-4">
      <span class="p-float-label">
          <input type="text" id="apellidostext" pInputText [(ngModel)] = "txtApellido">
          <label for="apellidostext">Apellido</label>
      </span>
    </div>
    <div class="field col-12 md:col-12 mt-4">
      <span class="p-float-label">
          <input type="text" id="direcciontext" pInputText [(ngModel)] = "nuevoUsuario.direccion"> 
          <label for="direcciontext">Dirección</label>
      </span>
    </div>
    <div class="field col-12 md:col-12 mt-4">
      <span class="p-float-label">
          <input type="email" id="correotext" pInputText [(ngModel)] = "nuevoUsuario.email"> 
          <label for="correotext">correo@ejemplo.com</label>
      </span>
    </div>
    <div class="field col-12 md:col-12 mt-4">
      <span class="p-float-label">
          <input type="email" id="usernameTxt" pInputText [(ngModel)] = "nuevoUsuario.nombreUsuario"> 
          <label for="usernameTxt">Nombre de usuario</label>
      </span>
    </div>
    <div class="field col-12 md:col-12 mt-4">
      <span class="p-float-label">
          <input type="password" id="passwordtext" pInputText [(ngModel)] = "nuevoUsuario.password">
          <label for="passwordtext">Contraseña</label>
      </span>
    </div>
    <div class="field col-12 md:col-12 mt-4">
      <button class="mr-sm-2 p-button-warning" pButton type="button" icon="pi pi-user" iconPos="left" label="Registrar" (click)="registrar()"></button>
    </div>
  </div>
</p-sidebar>

<p-sidebar [(visible)]="displayStore" position="right">
  <div class="p-fluid grid">
    <div class="field col-12 md:col-12">
      <h5>Carrito de compras</h5>
    </div>
  </div>
</p-sidebar>
