<div class="container" style="margin-top: 120px;">
    <div class="row">
        <div class="col-12">
            <h2>Minimarket "Aquí me quedo"</h2>
            <br>
            <p>Estamos ubicados en la ciudad de guayaquil, calle No 6</p>
            <br>
            <b>Teléfonos: </b><p>0988988789</p>
            <b>Correo: </b><p>minimarquet@ejemplo.com</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p-gmap [options]="options" [style]="{'width':'100%','height':'520px'}" ></p-gmap>
    </div>
</div>
