<div class="container" style="margin-top: 120px;">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-12">
            <p-card>
                <ng-template pTemplate="header">
                    <h1 style="text-align: center; padding-top: 20px;">Tienda de productos</h1>
                </ng-template>
                <hr>
                <div class="grid p-fluid ">
                    <div class="row mt-4">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Buscador de productos:</label>
                        <div class="col-sm-7">
                            <input style="width: 100%" type="text" id="txtNombre" pInputText>
                        </div>
                        <div class="col-sm-2">
                            <button class="mr-sm-2 p-button-warning" pButton type="button" iconPos="left" label="Buscar"></button>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <label for="txtStock" class="col-sm-3 col-form-label">Categoria de productos:</label>
                        <div class="col-sm-9">
                            <p-dropdown [options]="categorias" [(ngModel)]="selectedCategoria" optionLabel="nombreCategoria" optionValue="id" placeholder="Seleccione la categoria" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>
                    </div>
                </div>
                
            </p-card>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <p-dataView #dv [value]="productos" [paginator]="true" [rows]="4" filterBy="nombre" layout="grid"
                            [sortField]="sortField" [sortOrder]="sortOrder">
                    <ng-template pTemplate="header">
                        <div class="flex flex-column md:flex-row md:justify-content-between">
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </ng-template>
                    <ng-template let-producto pTemplate="listItem">
                        <div class="col-12">
                            <div class="product-list-item">
                                <img [src]="'data:image/jpg;base64,' + producto.picByte" [alt]="producto.nombre"/>
                                <div class="product-list-detail">
                                    <div class="product-name">{{producto.nombre}}</div>
                                    <div class="product-description">{{producto.descripcion}}</div>
                                    <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{producto.categoria.nombreCategoria}}</span>
                                </div>
                                <div class="product-list-action">
                                    <span class="product-price">${{producto.precio}}</span>
                                    <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="producto.stock < 1" type="button" (click)="addToCar(producto)"></p-button>
                                    <span [class]="'product-badge status-INSTOCK'">EN STOCK</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-producto pTemplate="gridItem">
                        <div class="col-12 md:col-6">
                            <div class="product-grid-item card">
                                <div class="product-grid-item-top">
                                    <div>
                                        <i class="pi pi-tag product-category-icon"></i>
                                        <span class="product-category">{{producto.categoria.nombreCategoria}}</span>
                                    </div>
                                    <span [class]="'product-badge status-INSTOCK'">EN STOCK</span>
                                </div>
                                <div class="product-grid-item-content">
                                    <img [src]="'data:image/jpg;base64,' + producto.picByte" [alt]="producto.nombre"/>
                                    <div class="product-name">{{producto.nombre}}</div>
                                    <div class="product-description">{{producto.descripcion}}</div>
                                </div>
                                <div class="product-grid-item-bottom">
                                    <span class="product-price">${{producto.precio}}</span>
                                    <p-button icon="pi pi-shopping-cart" type="button" (click)="addToCar(producto)" [disabled]="producto.stock < 1"></p-button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
            
        </div>
    </div>
</div>
<p-toast position="top-right"></p-toast>