<div class="container" style="margin-top: 120px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p-card>
                <ng-template pTemplate="header">
                    <h3 class="ml-2">ADMINISTRACIÓN DE CATEGORIA DE PRODUCTOS</h3>
                    <hr>
                </ng-template>
                
                <div class="row">
                    <div class="col-12">
                        <h4>Información de la categoria</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="p-fluid grid">
                            <div class="field col-12 md:col-12 mt-4">
                              <span class="p-float-label">
                                  <input type="text" id="txtCategoria" pInputText [(ngModel)] = "categoriaDTO.nombreCategoria"> 
                                  <label for="txtCategoria">Nombre de la categoria</label>
                              </span>
                            </div>
                            <div class="field col-12 md:col-12 mt-4">
                              <button class="mr-sm-2 p-button-warning" pButton type="button" iconPos="left" label="Guardar categoria" (click)="guardarCategoria()"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <h4>Lista de categorias</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <p-table [value]="categorias" selectionMode="single" dataKey="id"
                                (onRowSelect)="onRowSelect($event)"
                                [paginator]="true" [rows]="4" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} categorias" [rowsPerPageOptions]="[4,8,16]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-categoria>
                                    <tr [pSelectableRow]="categoria">
                                        <td>{{categoria.id}}</td>
                                        <td>{{categoria.nombreCategoria}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

            </p-card>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p-card>
                <ng-template pTemplate="header">
                    <h3 class="ml-2">ADMINISTRACIÓN DE PRODUCTOS</h3>
                    <hr>
                </ng-template>
                
                <div class="row">
                    <div class="col-12">
                        <h4>Información del producto</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="grid p-fluid ">
                            
                            <form action="/" method="POST" enctype="multipart/form-data" (ngSubmit) = 'guardarProducto()' #forma="ngForm">
                                <div class="form-group row">
                                    <label for="txtNombre" class="col-sm-6 col-form-label">Nombre del producto:</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="txtNombre" pInputText [formControl] = "nombreProducto">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtPrecio" class="col-sm-6 col-form-label">Precio del producto:</label>
                                    <div class="col-sm-6">
                                        <input type="number" id="txtPrecio" pInputText [formControl] = "precioProducto">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtStock" class="col-sm-6 col-form-label">Stock del producto:</label>
                                    <div class="col-sm-6">
                                        <input type="number" id="txtStock" pInputText [formControl] = "stockProducto">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtStock" class="col-sm-6 col-form-label">Foto del producto:</label>
                                    <div class="col-sm-6">
                                        <input class="file-input" type="file" id="txtImagen" (change)="onFileSelected($event)" #myInputFile> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtStock" class="col-sm-6 col-form-label">Vista previa producto:</label>
                                    <div class="col-sm-6">
                                        <div *ngIf=retrievedImage>
                                            <img class="img-thumbnail" [src]="retrievedImage">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtStock" class="col-sm-6 col-form-label">Categoria del producto:</label>
                                    <div class="col-sm-6">
                                        <p-dropdown [options]="categorias" [(ngModel)]="selectedCategoria" optionLabel="nombreCategoria" optionValue="id" placeholder="Seleccione la categoria" [ngModelOptions]="{standalone: true}"></p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="mr-sm-2 p-button-warning" pButton type="submit" iconPos="left" label="Guardar producto"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <h4>Lista de productos</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <p-table [value]="productos" selectionMode="single" dataKey="id"
                                (onRowSelect)="onRowSelectProduct($event)" (onRowUnselect)="onRowUnselect($event)"
                                [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos" [rowsPerPageOptions]="[5,10,15]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Stock</th>
                                        <th>srcImage</th>
                                        <th>estado</th>
                                        <th>Categoria</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-producto>
                                    <tr [pSelectableRow]="producto">
                                        <td>{{producto.id}}</td>
                                        <td>{{producto.nombre}}</td>
                                        <td>{{producto.precio}}</td>
                                        <td>{{producto.stock}}</td>
                                        <td>{{producto.srcImage}}</td>
                                        <td>{{producto.estado}}</td>
                                        <td>{{producto.categoria.nombreCategoria}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>


    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p-card>
                <ng-template pTemplate="header">
                    <h3 class="ml-2">ADMINISTRACIÓN DE BANNERS</h3>
                    <hr>
                </ng-template>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="grid p-fluid ">
                            
                            <form action="/" method="POST" enctype="multipart/form-data" (ngSubmit) = 'guardarBanner()' #forma="ngForm">
                                <div class="form-group row">
                                    <label for="txtNombre" class="col-sm-6 col-form-label">Nombre del banner:</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="txtNombre" pInputText [formControl] = "nombreBanner">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="txtStock" class="col-sm-6 col-form-label">Foto del banner:</label>
                                    <div class="col-sm-6">
                                        <input class="file-input" type="file" id="txtImagen" (change)="onFileBannerSelected($event)" #myInputBannerFile> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtStock" class="col-sm-6 col-form-label">Vista previa banner:</label>
                                    <div class="col-sm-6">
                                        <div *ngIf=retrievedBannerImage>
                                            <img class="img-thumbnail" [src]="retrievedBannerImage">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="mr-sm-2 p-button-warning" pButton type="submit" iconPos="left" label="Guardar banner"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <h4>Lista de banners</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <p-table [value]="banners" selectionMode="single" dataKey="id"
                                (onRowSelect)="onRowSelectBanner($event)" (onRowUnselect)="onRowUnselectBanner($event)"
                                [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} banner" [rowsPerPageOptions]="[5,10,15]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Id</th>
                                        <th>Descripsion</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-banner>
                                    <tr [pSelectableRow]="banner">
                                        <td>{{banner.id}}</td>
                                        <td>{{banner.descripcion}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>


</div>
<p-toast position="top-right"></p-toast>