<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '100%','height': '25%'}" [numVisible]="4" [circular]="true"
                [autoPlay]="true" [transitionInterval]="4000"> 
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 100%; height:550px; display: block;" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.thumbnailImageSrc" style="display: block; width: 25%; height: 25%;" />
                    </div>
                </ng-template>
        </p-galleria>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p-card>
                <p-carousel [value]="productosMasVendidos" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="false" [autoplayInterval]="3000">
                    <ng-template pTemplate="header">
                        <h1>Productos más vendidos</h1>
                    </ng-template>
                    <ng-template let-product pTemplate="item">
                        <div class="product-item">
                            <div class="product-item-content">
                                <div class="mb-3" style="min-height: 210px;">
                                    <img [src]="product.previewImageSrc" [alt]="product.name" class="product-image" />
                                </div>
                                <div>
                                    <h4 class="mb-1">{{product.name}}</h4>
                                    <h6 class="mt-0 mb-3">${{product.price}}</h6>
                                    <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                                    <div class="car-buttons mt-5">
                                        <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-shopping-cart"></p-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </p-card>
        </div>
    </div>
</div>

<div style="background-color: #fbc02d;">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: center; margin-top: 12em;">
                <h1>Encuentra nuestras mejores ofertas para ti.</h1>
                <br>
                <p><em><h5>PRODUCTOS AL DESCUENTO CON BAJOS PRECIO!!! </h5></em>Encuentra tus productos favoritos con las ofertas que más te gustan, grandes descuentos y todo por tiempo limitado o hasta agotar stock.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="display: flex; justify-content: center; align-items: center;">
                <p-carousel [value]="productosPromociones" orientation="vertical" [style]="{'max-width':'400px', 'margin-top':'2em' }" verticalViewPortHeight="452px" [numVisible]="1" [numScroll]="1">
                    <ng-template let-product pTemplate="item">
                        <div class="product-item">
                            <div class="product-item-content" style="background-color: #ffff;">
                                <div class="mb-3">
                                    <img [src]="product.previewImageSrc" [alt]="product.name" class="product-image" style="width: 130px; height: 130px;" />
                                </div>
                                <div>
                                    <h4 class="mb-1">{{product.name}}</h4>
                                    <h6 class="mt-0 mb-3">${{product.price}}</h6>
                                    <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                                    <div class="car-buttons mt-5">
                                        <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-shopping-cart"></p-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</div>
<br>
<div class="d-flex flex-column h-75">

    <!-- FOR DEMO PURPOSE -->
    <section class="py-5 flex-grow-1">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-6">
                    <h1>¡Aquí me quedo!</h1>
                    <p class="fst-italic text-muted">Tu tienda online disponible las 24 horas del día, los 7 días de la semana y los 365 día del año. No te pierdas ningua promoción y compra siempre al mejor precio del mercado.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">Minimarket "Aquí me quedo"</h5>
                    <p class="small text-muted">"Aquí me quedo" es un negocio de compra venta de productos, estamos en el noroeste de la ciudad de guayaquil.</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. Todos los derechos reservados. <a class="text-primary" href="#">aquimequedo.com.ec</a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Enlaces rapidos</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Contactos</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Enlaces rapidos</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Inicia sesión</a></li>
                        <li><a href="#">Registrate</a></li>
                        <li><a href="#">Tienda</a></li>
                        <li><a href="#">Google</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Boletín informativo</h5>
                    <p class="small text-muted">Si deseas recibir notificaciones sobre nuestros productos, dejamos tu correo electrónico y nosotros nos encarmos del resto.</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <div class="p-inputgroup">
                                <input type="text" pInputText placeholder="Correo">   
                                <button type="button" pButton pRipple icon="pi pi-check-circle" styleClass="p-button-warn" ></button>      
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</div>
